/* Inter (Latin) */
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('../../shared/assets/fonts/Inter/Inter-400.woff2') format('woff2');
  font-family: 'Inter';
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: 500;
  src: url('../../shared/assets/fonts/Inter/Inter-500.woff2') format('woff2');
  font-family: 'Inter';
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: 600;
  src: url('../../shared/assets/fonts/Inter/Inter-600.woff2') format('woff2');
  font-family: 'Inter';
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: 800;
  src: url('../../shared/assets/fonts/Inter/Inter-800.woff2') format('woff2');
  font-family: 'Inter';
  font-display: swap;
}

/* Manrope (Latin) */
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('../../shared/assets/fonts/Manrope/Manrope-400.woff2') format('woff2');
  font-family: 'Manrope';
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: 500;
  src: url('../../shared/assets/fonts/Manrope/Manrope-500.woff2') format('woff2');
  font-family: 'Manrope';
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: 600;
  src: url('../../shared/assets/fonts/Manrope/Manrope-600.woff2') format('woff2');
  font-family: 'Manrope';
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: 800;
  src: url('../../shared/assets/fonts/Manrope/Manrope-800.woff2') format('woff2');
  font-family: 'Manrope';
  font-display: swap;
}
