{
  "printWidth": 120,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-jsdoc", "prettier-plugin-css-order", "prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindFunctions": ["cnTw", "cn"],
  "jsdocCommentLineStrategy": "keep",
  "jsdocPreferCodeFences": true,
  "jsdocSeparateTagGroups": true,
  "jsdocPrintWidth": 80,
  "proseWrap": "always",
  "overrides": [
    {
      "files": ["./src/renderer/domains/**/*.ts", "./src/renderer/shared/pallet/**/*.ts", "./src/renderer/features/fellowship-*/**/*.{ts,tsx}"],
      "options": {
        "arrowParens": "avoid"
      }
    }
  ]
}
