.test {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /* Position */
  position: relative;
  width: 600px;
  height: 400px;

  /* Box Settings */
  overflow: hidden;
  display: inline-block;
}

.test::before {
  content: '';
  display: block;

  /* Scale */
  width: 0;
  padding-bottom: 0;
  height: 0;

  /* Position */
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);

  /* Border */
  border: solid 100px rgba(31, 44, 122, 0.5);
  border-radius: 50%;

  /* Transition */
  transition: 0.5s ease;
  transition-property: width, padding-bottom;
}

.test:before {
  filter: blur(60px);
}

/*.box:hover::before {*/
/*  width: 100%;*/
/*  padding-bottom: 100%;*/
/*}*/

/*.box-text {*/
/*  font: 48px Arial, Helvetica, Sans-serif;*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  transform: translate(-50%, -50%);*/
/*  color: #fff;*/
/*  z-index: 3;*/
/*  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);*/
/*  text-align: center;*/
/*}*/

body {
  background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/arches.png');
}

.container {
  width: 1300px;
  margin: 30px auto;
}
