.spektr-arrow::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.spektr-arrow__center::before {
  left: calc(50% - 6px);
}
.spektr-arrow__start::before {
  left: 12px;
}
.spektr-arrow__end::before {
  right: 12px;
}

.spektr-arrow__up::before {
  border-bottom: 8px solid var(--switch-background-active);
  top: -7px;
}

.spektr-arrow__down::before {
  border-top: 8px solid var(--switch-background-active);
  bottom: -7px;
}
