.spektr-arrow::before {
  display: block;
  position: absolute;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  width: 0;
  height: 0;
  content: '';
}

.spektr-arrow__center::before {
  left: 50%;
  transform: translateX(-50%);
}
.spektr-arrow__left::before {
  left: 12px;
}
.spektr-arrow__right::before {
  right: 12px;
}

.spektr-arrow__up::before {
  top: -7px;
  border-bottom: 8px solid var(--switch-background-active);
}

.spektr-arrow__down::before {
  bottom: -7px;
  border-top: 8px solid var(--switch-background-active);
}
