.vote-chart-point {
  display: flex;
  position: absolute;
  justify-content: center;
  transform: translateX(-50%);
  width: 6px;
  height: 16px;
}

.vote-chart-point::after {
  border-radius: 2px;
  background-color: var(--border-dark);
  width: 2px;
  height: 100%;
  content: '';
}
