.vote-chart-container {
  display: flex;
  position: relative;
  row-gap: 4px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 22px;
}

.vote-chart-aye {
  border-radius: 5px;
  background-color: var(--icon-positive);
  height: 10px;
}

.vote-chart-nay {
  border-radius: 5px;
  background-color: var(--icon-negative);
  height: 10px;
}

.vote-chart-point {
  display: flex;
  position: absolute;
  justify-content: center;
  transform: translateX(-50%);
  width: 6px;
  height: 16px;
}

.vote-chart-point::after {
  border-radius: 2px;
  background-color: var(--border-dark);
  width: 2px;
  height: 100%;
  content: '';
}
