.spektr-shimmer {
  background: linear-gradient(
    90deg,
    rgba(203, 203, 203) 0%,
    rgba(203, 203, 203) 10%,
    white 15%,
    rgba(203, 203, 203) 20%,
    rgba(203, 203, 203) 100%
  );
  background-size: 1400px 100%;
  animation: spektr-slide 2.2s linear infinite forwards;
}

@keyframes spektr-slide {
  from {
    background-position: -1400px 0;
  }
  to {
    background-position: 1400px 0;
  }
}
