:root {
  /* TEXT */
  --text-primary: #363643;
  --text-secondary: #7a7a7a;
  --text-tertiary: #9f9fa5;
  --text-white: #fff;
  --text-accent: #4649f6;
  --text-negative: #f52163;

  /* ICON */
  --icon-primary-default: #bfbfc3;
  --icon-primary-hover: #9f9fa5;
  --icon-primary-active: #363643;
  --icon-white-default: #fff;
  --icon-accent-default: #4649f6;
  --icon-accent-hover: #3e40d8;
  --icon-accent-active: #383ac5;
  --icon-accent-disabled: #a6a8fb;
  --icon-positive-default: #01a63e;
  --icon-negative-default: #f52163;
  --icon-warning-default: #f68f07;

  /* BUTTON */
  /* primary */
  --button-primary-default: #4649f6;
  --button-primary-hover: #3e40d8;
  --button-primary-active: #383ac5;
  --button-primary-disabled: #a6a8fb;
  /* secondary */
  --button-secondary-default: #f0f0f6;
  --button-secondary-hover: #e1e1ec;
  --button-secondary-active: #d2d2e3;
  --button-secondary-disabled: #f8f8fa;
  /* negative */
  --button-negative-default: #feedf3;
  --button-negative-hover: #fddbe6;
  --button-negative-active: #fdcada;
  --button-negative-disabled: #fff6f9;

  /* BORDER */
  --border-primary: #f0f0f6;
  --border-secondary: #c3c3d9;
  --border-black: #6e6e78;
  --border-accent: #4649f6;
  --border-positive: #01a63e;
  --border-negative: #f52163;
  --border-warning: #f68f07;
  --border-focus: #b5b6fb;

  /* BACKGROUND */
  --bg-primary-default: #fff;
  --bg-primary-hover: #f0f0f6;
  --bg-primary-disabled: #f8f8fa;
  --bg-primary-selected: #f8f8fa;
  --bg-black: #363643;
  --bg-secondary: #f8f8fa;
  --bg-accent-primary: #4649f6;
  --bg-accent-secondary: #f0f0fe;
  --bg-positive-primary: #01a63e;
  --bg-positive-secondary: #ebf8f0;
  --bg-negative-primary: #f52163;
  --bg-negative-secondary: #feedf3;
  --bg-warning-primary: #f68f07;
  --bg-warning-secondary: #fef6eb;
  --bg-shade: #7a7a7a;
  --bg-transparent: rgba(54, 54, 67, 0.4);

  /* GRADIENT */
  --gr-shimmering-primary: linear-gradient(0deg, #f0f0f6 0%, #e1e1ec 50%, #f0f0f6 100%);
  --gr-border-primary: linear-gradient(90deg, #7a7a7a 0%, #f0f0f6 100%);
}
