:root {
  /* TEXT */
  --text-primary: #363643;
  --text-secondary: #79797d;
  --text-tertiary: #a4a4ad;
  --chip-text: #868692;
  --input-text-placeholder: #acacb5;
  --text-positive: #01a63e;
  --text-negative: #f52163;
  --text-warning: #f68f07;
  --tab-text-accent: #4649f6;
  --action-text: #4649f6;
  --action-text-default: rgba(70, 73, 246, 0.72);
  --button-text: #fff;
  --button-text-inactive: #a4a4ad;

  /* ICON */
  --icon-accent: #4649f6;
  --icon-accent-default: rgba(70, 73, 246, 0.72);
  --tab-icon-active: #363643;
  --tab-icon-inactive: #868692;
  --icon-hover: #79797d;
  --icon-active: #363643;
  --icon-default: #c3c3cb;
  --chip-icon: #868692;
  --icon-button: #fff;
  --icon-alert: rgb(123, 41, 255);
  --icon-positive: rgb(1, 166, 62);
  --icon-warning: rgb(246, 143, 7);
  --icon-negative: rgb(245, 33, 99);

  /* BUTTON */
  /* primary */
  --primary-button-background-default: #4649f6;
  --primary-button-background-hover: #3e40d8;
  --primary-button-background-active: #3e40d8;
  --primary-button-background-inactive: rgba(70, 73, 246, 0.48);
  /* secondary */
  --secondary-button-background: rgba(69, 69, 137, 0.06);
  --secondary-button-background-hover: rgba(69, 69, 137, 0.12);
  --secondary-button-background-active: rgba(69, 69, 137, 0.16);
  --scroll-background-default: rgba(69, 69, 137, 0.48);
  --white-button-background-default: #ffffff;
  --white-button-background-hover: rgba(255, 255, 255, 0.8);
  --white-button-background-active: rgba(255, 255, 255, 0.64);
  --white-button-background-disabled: rgba(255, 255, 255, 0.48);

  /* BORDER */
  --token-container-border: rgba(69, 69, 137, 0.06);
  --filter-border: rgba(69, 69, 137, 0.12);
  --container-border: rgba(69, 69, 137, 0.06);
  --active-container-border: #4649f6;
  --focus-container-border: rgba(70, 73, 246, 0.4);
  --filter-border-negative: #f52163;
  --alert-border: rgb(123, 41, 255);
  --alert-border-warning: rgb(246, 143, 7);
  --alert-border-negative: rgb(245, 33, 99);
  --token-border: #5e5e69;
  --border-dark: #6e6e78;

  /* DIVIDER */
  --divider: rgba(69, 69, 137, 0.06);

  /* BACKGROUND */
  --background-default: #f8f8fa;
  --switch-background-active: #363643;
  --switch-background-inactive: rgba(69, 69, 137, 0.12);
  --top-nav-bar-background: #f8f8fa;
  --knob-background: #fff;
  --tab-background: rgba(69, 69, 137, 0.06);
  --left-navigation-menu-background: #ffffff;
  --main-app-background: rgba(69, 69, 137, 0.04);
  --token-container-background: #ffffff;
  --token-background: #363643;
  --input-background: #fff;
  --input-background-disabled: rgba(69, 69, 137, 0.04);
  --action-background-hover: rgba(69, 69, 137, 0.06);
  --block-background-hover: rgba(237, 237, 244);
  --block-background: rgba(69, 69, 137, 0.04);
  --badge-background: rgba(70, 73, 246, 0.16);
  --badge-red-background-default: rgba(245, 33, 99, 0.16);
  --extended-block-background: rgba(69, 69, 137, 0.03);
  --block-background-default: #fff;
  --negative-action-background: rgba(245, 33, 99, 0.06);
  --dim-background: rgba(54, 54, 67, 0.4);
  --qr-valid-background: #01a63e;
  --positive-background: rgba(1, 166, 62, 0.16);
  --accent-background: #4649f6;
  --row-background: #fff;
  --hover: rgba(36, 99, 235, 0.04);
  --card-background: #fff;
  --alert-background: rgb(246, 240, 250);
  --alert-background-warning: rgba(246, 143, 7, 0.12);
  --alert-background-negative: rgba(245, 33, 99, 0.08);
  --alert-background-positive: rgba(1, 166, 62, 0.08);
  --label-background-gray: rgba(128, 128, 128, 0.48);
  --label-background-green: #01a63e;
  --label-background-red: #f52163;
  --selected-background: rgba(69, 69, 137, 0.1);
  --black-background: rgba(0, 0, 0, 0.5);
  --background-dark: #262626;
  --background-item-hover: #4e4e57;
  --background-item-selected: #6e6e78;
  --background-suffix-hover: #f4f4f8;

  /* SHADOW */
  --card-shadow: 0px 3px 4px rgba(69, 69, 137, 0.04), inset 0px -0.5px 0px rgba(69, 69, 137, 0.12);
  --knob-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
  --input-active-shadow: 0px 0px 0px 2px rgba(36, 99, 235, 0.16);
  --card-shadow-level2: 0px 2px 2px rgba(69, 69, 137, 0.05), 0px 4px 6px rgba(69, 69, 137, 0.06),
    inset 0px -0.5px 0px rgba(69, 69, 137, 0.12);
  --shadow-1: 0px 3px 4px 0px rgba(69, 69, 137, 0.04), 0px -0.5px 0px 0px rgba(69, 69, 137, 0.12) inset;
  --shadow-2: 0px 4px 6px 0px rgba(69, 69, 137, 0.06), 0px -0.5px 0px 0px rgba(69, 69, 137, 0.12) inset,
    0px 2px 2px 0px rgba(69, 69, 137, 0.05);
}
