.spektr-separator::before,
.spektr-separator::after {
  flex: 1;
  border-bottom: 1px solid;
  border-color: inherit;
  height: 0;
  content: '';
}
.spektr-vertical-separator::before,
.spektr-vertical-separator::after {
  flex: 1;
  border-left: 1px solid;
  border-color: inherit;
  height: 100%;
  content: '';
}
