.start-tree:after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.3);;
  top: 4px;
  left: 1px;
  width: 1px;
  height: 16px;
}

.middle-tree:before {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.3);;
  bottom: 2px;
  left: 0px;
  width: 1px;
  height: 19px;
}

.tree-wrapper:not(:last-of-type) .middle-tree:after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.3);;
  top: 3px;
  left: 0px;
  width: 1px;
  height: 31px;
}
