.card-stack-plate {
  transition: max-width 0.3s cubic-bezier(0.8, 0, 0.2, 1);
}

.card-stack[data-state="closed"] .card-stack-plate {
  max-width: calc(100% - 8px);
}

.card-stack[data-state="open"] .card-stack-plate {
  max-width: 100%;
}

.card-stack:has(.card-stack-trigger:focus-visible) {
  outline: 2px solid var(--focus-container-border);
  outline-offset: 2px;

  .card-stack-sticky-gap {
    display: none;
  }

  .card-stack-header-wrap {
    top: 0;
  }
}



