.card-stack-plate {
  transition: max-width 0.3s cubic-bezier(0.87, 0, 0.13, 1);
}

.card-stack[data-state="closed"] .card-stack-plate {
  max-width: calc(100% - 8px);
}

.card-stack[data-state="open"] .card-stack-plate {
  max-width: 100%;
}

.card-stack-content[data-state="open"] {
  animation: cardStackSlideDown 0.3s cubic-bezier(0.87, 0, 0.13, 1);
}

.card-stack-content[data-state="closed"] {
  animation: cardStackSlideUp 0.3s cubic-bezier(0.87, 0, 0.13, 1);
}

@keyframes cardStackSlideDown {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
}

@keyframes cardStackSlideUp {
  from {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}


