.ref-details h1 {
  font-size: 1rem;
}

.ref-details ol > li {
  counter-increment: item 1;
}

.ref-details ol > li::before {
  content: counter(item) ". ";
  font-weight: bold;
}

.ref-details ul {
  list-style: inside;
}

.ref-details a {
  color: blue;
}

.ref-details table {
  line-height: 160%;
  margin: 0 0 0.5rem;
  color: rgb(36, 58, 87) !important;
  font-weight: 500 !important;
  border: rgb(36, 58, 87) !important;
}

.ref-details th {
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  padding: 0.5rem;
  border-color: rgb(36, 58, 87) !important;
}

.ref-details td {
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  padding: 0.5rem;
  border-color: rgb(36, 58, 87) !important;
}
