@import './styles/fonts.css' layer(base);

@import 'tailwindcss';

@config '../../../tailwind.config.ts';

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-manrope: 'Manrope', sans-serif;

  --color-primary: #567CDC;
  --color-primary-variant: #D5DEF6;
  --color-on-primary-variant: #1A367F;
  --color-secondary: #A7DB57;
  --color-tertiary: #262E42;
  --color-success: #55BA4C;
  --color-alert: #FFBF1A;
  --color-error: #C05941;
  --color-neutral: #333333;
  --color-neutral-variant: #666666;
  --color-shade-8: rgba(0, 0, 0, 0.08);
  --color-shade-12: rgba(0, 0, 0, 0.12);
  --color-shade-40: rgba(0, 0, 0, 0.40);

  --shadow-surface: 0 0 16px rgba(0, 0, 0, 0.05);
  --shadow-element: 0 0 5px rgba(0, 0, 0, 0.15);
  --shadow-component: 0 0 50px rgba(0, 0, 0, 0.1);
  --shadow-icon-button: 0px 2px 2px rgba(0, 0, 0, 0.04), inset 0px -0.5px 0px rgba(8, 9, 14, 0.16);
  --shadow-active-input: 0px 0px 0px 2px rgba(36, 99, 235, 0.16);
  --shadow-modal: 0px 2px 6px rgba(24, 24, 28, 0.06), 0px 32px 41px -23px rgba(24, 24, 28, 0.07);
  --shadow-card-shadow: var(--card-shadow);
  --shadow-card-shadow-level2: var(--card-shadow-level2);
  --shadow-knob-shadow: var(--knob-shadow);
  --shadow-input-active-shadow: var(--input-active-shadow);
  --shadow-stack: var(--stack);
  --shadow-stack-hover: var(--stack-hover);
  --shadow-shadow-1: var(--shadow-1);
  --shadow-shadow-2: var(--shadow-2);

  --radius-md: 4px;
  --radius-2lg: 10px;

  --tracking-tight: -0.01em;

  --spacing-13: 3.25rem;
  --spacing-15: 3.75rem;
}

/* Scrollbar for Firefox */
* {
  scrollbar-width: thin;
}

/* Scrollbar for other Browsers */
/* Width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-track:vertical {
  margin: 2px 0;
}

::-webkit-scrollbar-track:horizontal {
  margin: 0 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 4px;
  background-clip: padding-box;
  background-color: var(--scroll-background-default);
}

/* Search input reset  */
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

*:focus-visible {
  outline: 2px solid var(--focus-container-border);
}

ul:focus-visible {
  outline: none;
}

.logo-background {
  transform: scaleY(-1);
  /* with color fallback */
  background: #501acb url('../shared/assets/images/misc/bg.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.video-cover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}

.scrollbar-stable {
  scrollbar-gutter: stable both-edges;
}

.visually-hidden {
  position: absolute;
  clip-path: inset(100%);
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
