@import './styles/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar for Firefox */
* {
  scrollbar-width: thin;
}

/* Scrollbar for other Browsers */
/* Width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-track:vertical {
  margin: 2px 0;
}

::-webkit-scrollbar-track:horizontal {
  margin: 0 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 4px;
  background-clip: padding-box;
  background-color: var(--scroll-background-default);
}

/* Search input reset  */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}


*:focus-visible {
  outline: 2px solid var(--focus-container-border);
}

ul:focus-visible {
  outline: none;
}

.logo-background {
  transform: scaleY(-1);
  /* with color fallback */
  background: #501acb url('../shared/assets/images/misc/bg.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.video-cover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.27);
  width: 100%;
  height: 100%;
}

.scrollbar-stable {
  scrollbar-gutter: stable both-edges;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
