.radio::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: theme('colors.primary');
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
