.spektr-icon-button::before {
  content: '';
  display: block;
  position: absolute;
  width: max(26px, 125%);
  height: max(26px, 125%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  left: 50%;
  top: 50%;
}
