.spektr-icon-button::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: max(26px, 125%);
  height: max(26px, 125%);
  content: '';
}
