@tailwind base;
@tailwind components;
@tailwind utilities;

/* Public Sans (Latin) */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('assets/fonts/public-sans/public-sans-300.woff2') format('woff2');
}
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/public-sans/public-sans-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('assets/fonts/public-sans/public-sans-600.woff2') format('woff2');
}
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('assets/fonts/public-sans/public-sans-700.woff2') format('woff2');
}

/* Fira Sans (Latin) */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./assets/fonts/fira-sans/fira-sans-300.woff2') format('woff2');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/fira-sans/fira-sans-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./assets/fonts/fira-sans/fira-sans-600.woff2') format('woff2');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./assets/fonts/fira-sans/fira-sans-700.woff2') format('woff2');
}

/* Thin scrollbar */
.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background: hsl(0, 0%, 90%);
  border-radius: 20px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 72%);
  border-radius: 20px;
}

:root {
  --tree-width: 1px;
  --tree-bg-color: rgba(0, 0, 0, 0.3);
}

.start-tree:after {
  content: '';
  position: absolute;
  background: var(--tree-bg-color);
  top: 4px;
  left: 1px;
  width: var(--tree-width);
  height: 20px;
}

.middle-tree:before {
  content: '';
  position: absolute;
  background: var(--tree-bg-color);
  bottom: 2px;
  left: 0;
  width: var(--tree-width);
  height: 19px;
}

.tree-wrapper:not(:last-of-type) .middle-tree:after {
  content: '';
  position: absolute;
  background: var(--tree-bg-color);
  top: 3px;
  left: 0;
  width: var(--tree-width);
  height: 31px;
}
