@tailwind base;
@tailwind components;
@tailwind utilities;

/* Public Sans (Latin) */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('assets/fonts/public-sans/public-sans-300.woff2') format('woff2');
}
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/public-sans/public-sans-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('assets/fonts/public-sans/public-sans-600.woff2') format('woff2');
}
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('assets/fonts/public-sans/public-sans-700.woff2') format('woff2');
}

/* Fira Sans (Latin) */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./assets/fonts/fira-sans/fira-sans-300.woff2') format('woff2');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/fira-sans/fira-sans-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./assets/fonts/fira-sans/fira-sans-600.woff2') format('woff2');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./assets/fonts/fira-sans/fira-sans-700.woff2') format('woff2');
}

/* Inter (Latin) */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/Inter/Inter-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('assets/fonts/Inter/Inter-500.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('assets/fonts/Inter/Inter-600.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('assets/fonts/Inter/Inter-800.woff2') format('woff2');
}

/* Manrope (Latin) */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/Manrope/Manrope-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('assets/fonts/Manrope/Manrope-500.woff2') format('woff2');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('assets/fonts/Manrope/Manrope-600.woff2') format('woff2');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('assets/fonts/Manrope/Manrope-800.woff2') format('woff2');
}

:root {
  --tree-width: 1px;
  --tree-bg-color: rgba(0, 0, 0, 0.3);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-track:vertical {
  margin: 2px 0;
}

::-webkit-scrollbar-track:horizontal {
  margin: 0 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-background-default);
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.start-tree:after {
  content: '';
  position: absolute;
  background: var(--tree-bg-color);
  top: 4px;
  left: 1px;
  width: var(--tree-width);
  height: 20px;
}

.middle-tree:before {
  content: '';
  position: absolute;
  background: var(--tree-bg-color);
  bottom: 2px;
  left: 0;
  width: var(--tree-width);
  height: 21px;
}

.tree-wrapper:not(:last-of-type) .middle-tree:after {
  content: '';
  position: absolute;
  background: var(--tree-bg-color);
  top: 3px;
  left: 0;
  width: var(--tree-width);
  height: 31px;
}

*:focus-visible {
  outline: 2px solid var(--focus-container-border);
}

.logo-background {
  background-size: cover;
  background-position: center;
  background-image: url('assets/images/misc/bg.webp');
  transform: scaleY(-1);
}

.logo-container {
  width: calc(50% + 116px);
  min-width: fit-content;
}
